<!DOCTYPE HTML>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Our Library</title>
</head>

<body>

<div class="container">

    <h3>Our Library</h3>
    <hr>

    <div>
        <b>Użytkownik: </b><span sec:authentication="name"></span>
        <br>
        <b>Uprawnienia:</b> <span sec:authentication="principal.authorities"></span>
        <br><br>
    </div>

    <form th:action="@{/books/search}" class="form-inline">
        <input class="form-control  ml-6 mr-sm-2 mb-3" type="search" name="bookAuthorOrTitle" placeholder="Podaj autora lub tytuł" />
        <button class="btn btn-success mb-3" type="submit">Szukaj</button>
    </form>

    <a th:href="@{/books/addBookForm}"
       sec:authorize="hasAnyRole('ROLE_LIBRARIAN', 'ROLE_ADMIN')"
       class="btn btn-primary btn=sm mb-3">
        Dodaj książkę
    </a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Autorzy</th>
            <th scope="col">Tytuł</th>
            <th scope="col">Rok wydania</th>
            <th scope="col">Akcja</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempBook : ${books}">
            <td th:text="${tempBook.authors}"/>
            <td th:text="${tempBook.title}"/>
            <td th:text="${tempBook.publicationYear}"/>

            <td>
                <a th:href="@{/books/detailsBookForm(bookId=${tempBook.id})}"
                   class="btn btn-secondary btn-sm">
                    Szczegóły
                </a>

                <a th:href="@{/books/updateBookForm(bookId=${tempBook.id})}"
                   sec:authorize="hasAnyRole('ROLE_LIBRARIAN', 'ROLE_ADMIN')"
                   class="btn btn-info btn-sm">
                    Zaktualizuj
                </a>

                <a th:href="@{/books/delete(bookId=${tempBook.id})}"
                   sec:authorize="hasRole('ROLE_ADMIN')"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Czy na pewno chcesz usunąć tę książkę?'))) return false">
                    Usuń
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <form action="#" th:action="@{/logout}"
          method="POST">

        <input type="submit" value="Wyloguj" class="btn btn-outline-primary mt-2"/>

    </form>

</div>

</body>